:root {
  --dark: #0b2e1d;
  --darkest: #111827;
  --grey: #6b7280;
  --grey-dark: #3f444e;
  --red: #ee1a17;
  --yellow: #e0ba24;
  --light: #eee;
  --lighter: #dae2f8;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--dark);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--light);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-right: 130px;
}
main h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--light);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-right: 130px;
}
#task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#task-input {
  flex: 1 1 0%;
  background-color: var(--lighter);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--grey-dark);
  font-size: 1.25rem;
}

#task-input::placeholder {
  color: var(--grey);
}

.btn {
  --color: #00a97f;
  --color2: rgb(225, 230, 232);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  font-weight: bold;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: -1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--light);
  margin-bottom: 0.5rem;
  /* margin-top: -10px; */
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--lighter);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  /* margin-top: -10px; */
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: var(--grey-dark);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  margin-top: 2px;
  display: flex;
  font-weight: bold;
  cursor: pointer;
}
.text-line {
  text-decoration: line-through;
  font-weight: bold;
  cursor: pointer;
  color: #ee1a17;
  /* text-decoration: solid; */
}

.task .content .text:not(:read-only) {
  color: var(--red);
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .material-symbols-outlined {
  color: black;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  margin-left: 2px;
  margin-right: 6px;
  font-weight: bold;
  font-size: 25px;
}
.task .actions .remove_btn {
  color: rgb(220, 20, 20);
  padding: 1px;
}
.task .actions .edit_btn {
  color: black;
  padding: 1px;
}
.task .actions .edit_btn:hover {
  background-color: green;
  color: white;
}

.task .actions .remove_btn:hover {
  background-color: rgb(220, 20, 20);
  color: white;
}

.task .actions .delete {
  color: crimson;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens (e.g., tablets and smartphones) */

  header h1,
  main h2 {
    flex-direction: column;
    align-items: center;
    margin-right: auto;
  }

  #task-form {
    flex-direction: column; /* Stack input and button vertically */
    align-items: center;
  }

  #task-input {
    margin-right: 1rem; /* Reset margin for smaller screens */
  }

  /* Adjust button styles for smaller screens */
  .btn {
    padding: 0.6em 1.25em;
    font-size: 14px;
    margin-top: 2%;
  }

  /* Adjust task item styles for smaller screens */
  .task {
    flex-direction: row; /* Stack content and actions vertically */
    align-items: ; /* Align content and actions to the left */
    margin: 20px;
  }

  .task .actions {
    margin: 10; /* Remove horizontal margin */
    /* Add vertical spacing */
  }

  .task .actions button {
    font-size: 14px;
  }

  .task .actions .material-symbols-outlined {
    font-size: 20px;
  }

  .text-line {
    font-size: 1rem;
  }
}
